
@using HVZ.Web.Shared

@inherits Bunit.TestContext

@code
{
    TestAuthorizationContext? authContext;
    Mock<IOrgRepo> mockOrgRepo = new Mock<IOrgRepo>();

    [OneTimeSetUp]
    public void Setup()
    {
        authContext = this.AddTestAuthorization();
        Services.AddSingleton<IOrgRepo>(mockOrgRepo.Object);
    }

    [Test]
    public void Test_LoggedOutSeesLoginButton()
    {
        authContext?.SetNotAuthorized();

        var cut = Render(
            @<LoginDisplay />
        );

        var button = cut.Find("a");
        button.MarkupMatches(@<a href="Account/Login" class:ignore diff:ignoreChildren></a>);
    }

    [Test]
    public void Test_LoggedInSeesLogOutButton()
    {
        authContext?.SetAuthorized("TEST USER");

        var cut = Render(
            @<LoginDisplay />
        );

        var button = cut.Find("a");
        button.MarkupMatches(@<a href="Account/Logout" class:ignore diff:ignoreChildren></a>);
    }
}