
@using HVZ.Web.Shared

@inherits ComponentTestBase

@code
{
    [OneTimeSetUp]
    public void Setup()
    {
        mockUserRepo.Setup(repo => repo.GetUserById(It.IsAny<string>())).ReturnsAsync(Mock.Of<TestUser>());
        RegisterServices();
        ConfigureTestAuthorization();
    }

    [Test]
    public void Test_LoggedOutSeesLoginButton()
    {
        authContext?.SetNotAuthorized();

        var cut = Render(
            @<LoginDisplay />
        );

        var button = cut.Find("a");
        button.MarkupMatches(@<a href="Account/Login" class:ignore diff:ignoreChildren></a>);
    }

    [Test]
    public void Test_LoggedInSeesLogOutButton()
    {
        authContext?.SetAuthorized(testUserFullName);
        authContext?.SetClaims(
            new System.Security.Claims.Claim("DatabaseId", testUserId)
        );

        var cut = Render(
            @<LoginDisplay />
        );

        var button = cut.Find("a");
        button.MarkupMatches(@<a href="Account/Logout" class:ignore diff:ignoreChildren></a>);
    }
}