@inherits Bunit.TestContext

@code
{
    TestAuthorizationContext? authContext;

    [OneTimeSetUp]
    public void Setup()
    {
        authContext = this.AddTestAuthorization();
    }

    [Test]
    public void Test_LoggedOutSeesLoginButton()
    {
        authContext?.SetNotAuthorized();

        IRenderedFragment cut = Render(
            @<LoginDisplay/>
            );

        IElement button = cut.Find("a");
        button.MarkupMatches(@<a href="Account/Login" class:ignore diff:ignoreChildren></a>);
    }

    [Test]
    public void Test_LoggedInSeesLogOutButton()
    {
        authContext?.SetAuthorized("TEST USER");

        IRenderedFragment cut = Render(
            @<LoginDisplay/>
            );

        IElement button = cut.Find("a");
        button.MarkupMatches(@<a href="Account/Logout" class:ignore diff:ignoreChildren></a>);
    }
}