@using HVZ.Models
@using HVZ.Persistence

@inject IGameRepo GameRepo
@inject NavigationManager Navigation

@page "/games/new"

<button class="btn btn-primary btn-lg" @onclick="CreateNewGame">Add Game</button>

<table class="table">
    <thead>
        <tr>
            <td scope="col">Game Title</td>
            <td scope="col">Game Creator</td>
        </tr>
    </thead>
</table>

@code {
    private Game[]? games;

    async Task CreateNewGame()
    {
        await GameRepo.CreateGame("gaming", "1234", "org1234");
        System.Console.WriteLine("Creating Game");
    }
}