@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Components.Authorization
@using HVZ.Web.Identity.Models
@inject IOrgRepo OrgRepo
@inject UserManager<ApplicationUser> UserManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager Navigation
@page "/createorg"
@inject ILogger<CreateOrg> Logger
@attribute [Authorize]

<div class="container">
    <div class="row">
        <h1>Create new organization</h1>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <div class="form-floating">
                    <input @bind="OrgName" @bind:event="oninput" class="form-control mb-1" placeholder="Organization name">
                    <label for="orgNameFoating">Organization name</label>
                </div>
                <p class="text-muted">Org URL: <code class="p-2">https://www.playhvz.org/org/<span style="border: 1px; border-radius: 5px; border-style: solid">@orgUrl</span>/</code></p>
                <div>
                    <span class="text-danger">@error</span>
                </div>
                <button @onclick="CreateNewOrg" class="btn btn-primary mt-3 @ButtonEnabled()">Create</button>
            </div>
        </div>
    </div>
    
</div>

@code {
    
    private string orgName = "";
    private string orgUrl = "";
    private string? error;

    public string OrgName {
        get
        {
            return orgName; 
        }
        set
        {
            orgName = value.Replace("/", string.Empty);
            orgUrl = FormatOrgUrl(value);
            var existingOrg = Task.Run(() => OrgRepo.FindOrgByUrl(orgUrl)).Result;
            if (existingOrg is not null)
            {
                error = "This URL is already in use";
                return;
            }
            error = null;

        } 
    }

    @* Remove special characters from org url *@
    private string FormatOrgUrl(string value) => value
        .ToLower()
        .Replace("&", "and")
        .Replace(" ", string.Empty)
        .Replace("/", string.Empty)
        .Replace("%", string.Empty)
        .Replace("?", string.Empty)
        .Replace("<", string.Empty)
        .Replace(">", string.Empty)
        .Replace("'", string.Empty)
        .Replace(".", string.Empty)
        .Replace(";", string.Empty)
        .Replace(":", string.Empty)
        .Replace(",", string.Empty)
        .Replace("`", string.Empty)
        .Replace("~", string.Empty)
        .Replace("!", string.Empty)
        .Replace("@", string.Empty)
        .Replace("#", string.Empty)
        .Replace("$", string.Empty)
        .Replace("^", string.Empty)
        .Replace("*", string.Empty)
        .Replace("(", string.Empty)
        .Replace(")", string.Empty)
        .Replace("[", string.Empty)
        .Replace("]", string.Empty)
        .Replace("{", string.Empty)
        .Replace("}", string.Empty)
        .Replace("=", string.Empty)
        .Replace("+", string.Empty)
        .Replace("|", string.Empty)
        .Replace("\"", string.Empty)
        .Replace("\\", string.Empty);

    private string ButtonEnabled() => error is null ? "" : "disabled";

    private void UpdateOrgUrl()
    {
        orgUrl = orgName;
    }

    [Authorize]
    async Task CreateNewOrg()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        
        var email = authState.User.Claims.FirstOrDefault(c => c.Type == "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress")?.Value;
        var authUser = await UserManager.FindByEmailAsync(email ?? "");
        
        if (!authUser.EmailConfirmed)
        {
            error = "Confirm your email before creating an org";
            return;
        }

        if(authUser == null)
            // Something has gone seriously wrong
            return;

        if(orgName == string.Empty || orgName == null)
            return;
        
        var existingOrg = await OrgRepo.FindOrgByUrl(orgUrl);
        if (existingOrg is not null)
        {
            return;
        }

        Logger.LogInformation($"{authUser.FullName}:{authUser.DatabaseId} has created a new org: {orgName}");

        var org = await OrgRepo.CreateOrg(orgName, orgUrl, authUser.DatabaseId);
        Navigation.NavigateTo($"/org/{orgUrl}", true);
    }

}
