@page
@model HVZ.Web.Pages.ErrorModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Error</title>
    <link href="~/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
</head>

<body>
    <div class="main">
        <div class="content px-4">
            <h1 class="text-danger">Error.</h1>
            <h2 class="text-danger">An error occurred while processing your request.</h2>

            @if (Model.ShowRequestId)
            {
                <p>
                    <strong>Request ID:</strong> <code>@Model.RequestId</code>
                </p>
            }

            <h3>Sorry about that!</h3>
            <p>
                If you are seeing this consistently, please let us know by opening a bug report at <a href="https://github.com/charlotteoutdoorgaming/HVZ/issues">https://github.com/charlotteoutdoorgaming/HVZ/issues</a> 
            </p>
        </div>
    </div>
</body>

</html>
