@using Microsoft.AspNetCore.Components.Authorization
@using HVZ.Web.Services
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject EmailService Email
@* @inject ImageService Image *@
@page "/"

<PageTitle>Index</PageTitle>

<CascadingAuthenticationState>

    <AuthorizeView>

        <Authorized>
            <h1>
                Hello, @context.User.Claims.FirstOrDefault(c => c.Type == "FullName")?.Value!
            </h1>
            <button class="btn btn-primary" @onclick="SendDebug">Send debug email</button>
        </Authorized>
        <NotAuthorized>
            <a href="Account/Login" class="btn btn-primary btn-lg">Login</a>
        </NotAuthorized>

    </AuthorizeView>

</CascadingAuthenticationState>

@code {
    void SendDebug()
    {
        Email.SendTemplateDebug();
    }
}