@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject EmailService Email
@* @inject ImageService Image *@
@page "/"

<PageTitle>Index</PageTitle>

<CascadingAuthenticationState>

    <AuthorizeView>

        <Authorized>
            <h1>
                Hello, @context.User.Claims.FirstOrDefault(c => c.Type == "FullName")?.Value!
            </h1>
        </Authorized>
        <NotAuthorized>
            <a href="Account/Login" class="btn btn-primary btn-lg">Login</a>
        </NotAuthorized>

    </AuthorizeView>

</CascadingAuthenticationState>