@using Microsoft.AspNetCore.Components.Authorization
@using HVZ.Web.Services
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject EmailService Email
@page "/"

<PageTitle>PlayHVZ Home</PageTitle>

<div class="container">
    @*Home*@
    <h1>Home</h1>
    @*This lives here for now until we create a settings page*@
    <HVZ.Web.Shared.Ui_Helpers.ThemeToggle />
    <CascadingAuthenticationState>
        <AuthorizeView>
            <NotAuthorized>
                <RedirectToAbout />
            </NotAuthorized>
        </AuthorizeView>
    </CascadingAuthenticationState>

</div>