@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthenticationStateProvider
@page "/"

<PageTitle>Index</PageTitle>

<CascadingAuthenticationState>

    <AuthorizeView>

        <Authorized>
            <h1>
                Hello, @context.User.Claims.FirstOrDefault(c => c.Type == "FirstName")?.Value!
            </h1>
        </Authorized>
        <NotAuthorized>
            <a href="Account/Login" class="btn btn-primary btn-lg">Login</a>
        </NotAuthorized>

    </AuthorizeView>

</CascadingAuthenticationState>

@code {


    protected override async Task OnInitializedAsync()
    {

    }

}