@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Authentication
@using HVZ.Persistence.Models
@using HVZ.Web.Identity.Models
@using HVZ.Web.Shared.Org_Authorization
@using HVZ.Web.Shared.Game
@inject IOrgRepo OrgRepo
@inject AuthenticationStateProvider AuthenticationStateProvider
@page "/org/{url}"
@attribute [Authorize]

<h1>@organization?.Name</h1>

<div class="container-md p-0">
    <OrgAuth OrgId="@organization?.Id">
        <GameView ActiveGameId="@organization?.ActiveGameId" />
    </OrgAuth>
</div>



@code
{
    [Parameter]
    public string? Url { get; set; } = "";

    private HVZ.Persistence.Models.Organization? organization;
    protected override async Task OnInitializedAsync()
    {
        organization = await OrgRepo.FindOrgByUrl(Url??"");
    }
}
