<button class="btn btn-primary d-none d-sm-inline" data-bs-toggle="modal" data-bs-target="#@ModalId">
    Join game
</button>

<button class="btn btn-primary d-sm-none fixed-bottom m-3 mx-0 w-100" data-bs-toggle="modal" data-bs-target="#@ModalId">
    Join game
</button>

@code {
    [Parameter]
    public string? ModalId { get; set; }
}
