
@* Start game *@
@if (ActiveGame?.Status == Game.GameStatus.New)
{
    <button class="btn btn-primary w-100" data-bs-toggle="modal" data-bs-target="#start-game-modal">Start game</button>

    <div class="modal fade" id="start-game-modal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Start game</h5>
                </div>
                <div class="modal-body">
                    <p>Starting the game will allow players to log tags</p>
                    <p><b><em>This cannot be undone</em></b></p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary">Cancel</button>
                    <button class="btn btn-primary">Start game</button>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <button class="btn btn-primary">Pause game</button>

    <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#end-game-modal">End game</button>
    
    <div class="modal fade">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">End game</h5>
                </div>
                <div class="modal-body">
                    <p>This will end the game for all players</p>
                    <p><b><em>This cannot be undone</em></b></p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#end-game-modal">Cancel</button>
                    <button class="btn btn-danger">End game</button>
                </div>
            </div>
        </div>
    </div>
}

@* OZ settings *@
@* OZ Pool *@
@* OZ Password *@

@code
{
    [Parameter]
    public Game ActiveGame { get; set; } = null!;

    [Parameter]
    public string UserId { get; set; } = null!;
}
