@using HVZ.Web.Shared.Org_Authorization

<OrgAuthorizedModerator>
    <div class="nav d-md-none nav-pills" id="mobile-pills-tab" role="tablist">
        <a href="#general" class="nav-link active" id="pills-general-tab" data-bs-toggle="pill">
            <i class="fa-solid fa-gear"></i>
            <div class="d-none d-md-inline">General</div>
        </a>
        <a href="#users" class="nav-link" id="pills-users-tab" data-bs-toggle="pill">
            <i class="fa-solid fa-users"></i>
            <div class="d-none d-md-inline">Users</div>
        </a>
        <a href="#discord-integration" class="nav-link" id="pills-discord-tab" data-bs-toggle="pill">
            <i class="fa-brands fa-discord"></i>
            <div class="d-none d-md-inline">Discord Integration</div>
        </a>
    </div>
    <div class="d-flex align-items-start mt-5">
        @* Desktop settings nav *@
        <div class="nav flex-column nav-pills me-3 d-none d-md-block" id="desktop-pills-tab" role="tablist" aria-orientation="vertical">
            <a href="#general" class="nav-link active" id="v-pills-general-tab" data-bs-toggle="pill">
                <i class="fa-solid fa-gear"></i>
                <div class="d-none d-md-inline">General</div>
            </a>
            <a href="#users" class="nav-link" id="v-pills-users-tab" data-bs-toggle="pill">
                <i class="fa-solid fa-users"></i>
                <div class="d-none d-md-inline">Users</div>
            </a>
            <a href="#discord-integration" class="nav-link" id="v-pills-discord-tab" data-bs-toggle="pill">
                <i class="fa-brands fa-discord"></i>
                <div class="d-none d-md-inline">Discord Integration</div>
            </a>
        </div>
        <div class="tab-content ml-md-4 w-100" id="pills-tab-content">
            <div class="tab-pane fade show active" id="general" role="tabpanel">
                This is the general settings tab
            </div>
            <div class="tab-pane fade" id="users" role="tabpanel">
                <ManageModsSettings OrgId="@OrgId" />
            </div>
            <div class="tab-pane fade" id="discord-integration" role="tabpanel">
                Fill this out when discord integration is ready
            </div>
        </div>
    </div>
</OrgAuthorizedModerator>

@code
{
    [CascadingParameter(Name = "OrgId")]
    public string? OrgId { get; set; }

}