{
  "Logging": {
    "LogLevel": {
      "Default": "Debug",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "WebConfig": {
    "DomainName": "https://localhost:5000/"
  },
  "AllowedHosts": "*"
}
