@*<div class="position-sticky sticky-bottom d-none d-md-block">
    anything that should stick to the bottom of the screen goes here
    
</div>*@
<div class="container d-none d-md-block" style="
    position:sticky;
    position:-webkit-sticky;
    bottom:2px;">
    @* Sticky footer content goes here*@
</div>
<footer class="navbar d-none d-md-block container" >
    <hr>
    <div class="d-none d-md-block">
        <div class="container">
        
            <div class="d-flex justify-content-center align" style="align-items:center;">
                <a class="navbar-brand text-muted" href="/">PlayHVZ</a>
                @* Enable when github is ready to be displayed to end users *@
                <a href="https://www.github.com/playhvzorg/hvz" target="_blank" class="nav-link text-muted"><i class="fa-brands fa-github"></i> Github</a>
                <a href="/termsofservice" target="_blank" class="nav-link text-muted mx-1 align-text-bottom"><i class="fa-solid fa-book"></i> Terms of Service</a>
                <a href="/privacy" target="_blank" class="nav-link text-muted mx-1"><i class="fa-regular fa-address-card"></i> Privacy</a>
            </div>
        </div>
    </div>
</footer>
