
<footer class="navbar d-none d-md-block container" >
    <hr>
    <div class="d-none d-md-block">
        <div class="container">
        
            <div class="d-flex justify-content-center align" style="align-items:center;">
                <a class="navbar-brand text-muted" href="/">PlayHVZ</a>
                <a href="https://www.github.com/playhvzorg/hvz" target="_blank" class="nav-link mx-1 text-muted"><i class="fa-brands fa-github"></i> Github</a>
                <a href="/termsofservice" target="_blank" class="nav-link text-muted mx-1 align-text-bottom"><i class="fa-solid fa-book"></i> Terms of Service</a>
                <a href="/privacy" target="_blank" class="nav-link text-muted mx-1"><i class="fa-regular fa-address-card"></i> Privacy</a>
            </div>
        </div>
    </div>
</footer>
