<div class="sticky-bottom mt-5 p-4 d-none d-md-block mt-5 pt-5">
    @* anything that should stick to the bottom of the screen goes here *@
</div>
<hr>
<div class="d-none d-md-block">
    <div class="container">
        <div class="d-flex justify-content-center">
            <h5 class="text-muted">PlayHVZ</h5>
        </div>
        <div class="d-flex justify-content-center align-baseline">
            <a href="https://www.github.com/charlotteoutdoorgaming/hvz" target="_blank" class="nav-link text-muted"><i class="fa-brands fa-github"></i> Github</a>
            <a href="" target="_blank" class="nav-link text-muted"><i class="fa-solid fa-book"></i> Terms of Service</a>
            <a href="" target="_blank" class="nav-link text-muted"><i class="fa-regular fa-address-card"></i> Privacy</a>
        </div>
    </div>
</div>
