<div class="sticky-bottom mt-5 p-4 d-none d-md-block">
    <p class="text-muted">Developed by Charlotte Outdoor Gaming</p>
</div>
<div class="d-none d-md-block">
    <div class="container">
        <a href="https://www.github.com/charlotteoutdoorgaming/hvz">Github</a>
    </div>
</div>
