/*Transition class*/

.description {
    transition: max-height .5s;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.minimized {
    overflow-y: hidden;
    max-height: 4.5rem;
}

.maximized {
    overflow-y: scroll;
    max-height: 15rem;
}

/*Turn off transition for users who prefer reduced motion*/
@media (prefers-reduced-motion) {
    .description {
        transition: max-height 0s;
    }
}