@inject IJSRuntime JS

<button @onclick="async () => {ToggleTheme();}" class="btn btn-outline-@ButtonStyle"><i class="fa-solid fa-@ThemeIcon"></i></button>

@code {
    bool prefersLightTheme = true;

    public string Theme => prefersLightTheme ? "light" : "dark";

    string ButtonStyle => prefersLightTheme ? "dark" : "light";

    string ThemeIcon => prefersLightTheme ? "sun" : "moon";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) return;

        var themePref = await JS.InvokeAsync<string>("getThemePreference", new object { });

        if (themePref == "dark")
        {
            prefersLightTheme = false;
        }
        else
        {
            prefersLightTheme = true;
        }

        StateHasChanged();

    }

    async void ToggleTheme()
    {
        prefersLightTheme = !prefersLightTheme;
        await JS.InvokeVoidAsync("saveThemePreference", Theme);
        await JS.InvokeVoidAsync("applyTheme", Theme);
        StateHasChanged();
    }
}
