@inject IJSRuntime JS

<button @onclick="async () => {ToggleTheme();}" class="btn btn-outline-@GetButtonStyle"><i class="fa-solid fa-@GetThemeIcon"></i></button>

@code {
    bool prefersLightTheme = true;

    string GetTheme => prefersLightTheme ? "light" : "dark";

    string GetButtonStyle => prefersLightTheme ? "dark" : "light";

    string GetThemeIcon => prefersLightTheme ? "sun" : "moon";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) return;

        var themePref = await JS.InvokeAsync<string>("getThemePreference", new object { });

        if (themePref == "dark")
        {
            prefersLightTheme = false;
        }
        else
        {
            prefersLightTheme = true;
        }

    }

    async void ToggleTheme()
    {
        prefersLightTheme = !prefersLightTheme;
        await JS.InvokeVoidAsync("saveThemePreference", GetTheme);
        await JS.InvokeVoidAsync("applyTheme", GetTheme);
        StateHasChanged();
    }
}
