@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager Navigation

<CascadingAuthenticationState>

    <AuthorizeView>

        <Authorized>
            Hello, @context.User.Identity.Name !
            <a href="Account/Logout">Logout</a>
        </Authorized>
        <NotAuthorized>
            <a href="Account/Login">Login</a>
        </NotAuthorized>

    </AuthorizeView>

</CascadingAuthenticationState>

