@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="d-none d-lg-block">
    <CascadingAuthenticationState>
        <AuthorizeView>
            <Authorized>
                <a href="Account/Logout" class="nav-link text-muted d-inline"><i class="fa-solid fa-arrow-right-from-bracket"></i> Logout</a>
                <div class="d-inline">
                    <HVZ.Web.Shared.Ui_Helpers.Thumbnail UserId="@id" Size=ImageService.ImageSize.SMALL style="height:34px;width:34px;" />
                </div>
            </Authorized>
            <NotAuthorized>
                <a href="Account/Login" class="nav-link text-muted d-inline"><i class="fa-solid fa-arrow-right-to-bracket"></i> Login</a>
            </NotAuthorized>
        </AuthorizeView>
    </CascadingAuthenticationState>
</div>

@code {
    private string? id = "1234";

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        id = user.Claims.FirstOrDefault(c => c.Type == "DatabaseId")?.Value;
    }
}