@using Microsoft.AspNetCore.Components.Authorization
@using HVZ.Web.Services
@inject NavigationManager Navigation
@inject ImageService ImageService
@inject AuthenticationStateProvider AuthenticationStateProvider

<CascadingAuthenticationState>

    <AuthorizeView>

        <Authorized>
            <a href="Account/Logout" class="btn btn-primary">Logout</a>
        </Authorized>
        <NotAuthorized>
            <a href="Account/Login" class="btn btn-primary">Login</a>
        </NotAuthorized>

    </AuthorizeView>

</CascadingAuthenticationState>


@code {
    private string? id = "1234";


    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        id = user.Claims.FirstOrDefault(c => c.Type == "DatabaseId")?.Value;
    }
}