@inherits LayoutComponentBase

<PageTitle>HVZ.Web</PageTitle>

<div class="page">

    <main>

        <HVZ.Web.Shared.Navigation.NavBar />

        <article class="content px-4">
            @Body
        </article>
        
        <HVZ.Web.Shared.Navigation.Footer />
    </main>
</div>
