@inherits ComponentTestBase

@using HVZ.Web.Shared.Game.GameLog
@using HVZ.Web.Shared.Ui_Helpers

@code
{
    [OneTimeSetUp]
    public void Setup()
    {
        mockUserRepo.Setup(r => r.GetUserById(testUserId))
            .ReturnsAsync(Mock.Of<TestUser>());
                
        RegisterServices();
    }

    [Test]
    public void Test_GameStartedMarkup()
    {
        var logItem = new GameEventLog(GameEvent.GameStarted, time, testUserId);

        var cut = Render(@<GameStartedLog LogItem="@logItem" />);

        Assert.DoesNotThrow(() => cut.FindComponent<Thumbnail>());
        
        var header = cut.Find("h6");
        var body = cut.Find("p");

        header.MarkupMatches(@<h6 class:ignore>Game started</h6>);
        body.MarkupMatches(@<p class:ignore>@testUserFullName has started the game</p>);
    }
}