@inherits ComponentTestBase

@using HVZ.Web.Shared.Game.GameLog
@using HVZ.Web.Shared.Ui_Helpers

@code
{
    [OneTimeSetUp]
    public void Setup()
    {
        mockUserRepo.Setup(r => r.GetUserById(testUserId))
            .ReturnsAsync(Mock.Of<TestUser>());
                
        RegisterServices();
    }

    [Test]
    public void Test_JoinGameMarkup()
    {
        var logItem = new GameEventLog(GameEvent.PlayerJoined, time, testUserId);

        var cut = Render(@<JoinGameLog LogItem="@logItem" />);

        Assert.DoesNotThrow(() => cut.FindComponent<Thumbnail>());

        var header = cut.Find("h6");
        var body = cut.Find("p");

        header.MarkupMatches(@<h6 class:ignore>Player joined game</h6>);
        body.MarkupMatches(@<p class:ignore><b>@testUserFullName</b> has joined the game</p>);
    }
}