
<div style="font-family: Arial">
    <h1>Reset your password</h1>
</div>

<hr>
<p style="font: 14pt Arial;">Hello {0}</p>
<p style="font: 14pt Arial;">Click this button to reset your PlayHVZ account password</p>
<a
style="
font: 14pt Arial;
text-decoration: none;
background-color: rgb(83, 124, 216);
color: white;
padding: 10px 14px 10px 14px;
border-radius: .25rem;
"
href="{2}Account/Reset?requestId={1}"
target="_blank">Reset password</a>
<p style="margin-bottom:5px; margin-top: 32px; font: 12pt Arial;">Or copy and paste this URL into your browser:</p>
<p style="margin-top: 0px; font: 12pt Arial;">{2}Account/Verify?requestId={1}</p>

<hr>
<p style="font: 14pt Arial;">If you did not request a password reset, you can safely delete this email.</p>
