<div style="font-family: Arial">
    <h1>Confirm your email</h1>
</div>
<hr>
<p style="font: 14pt Arial;">Hello {0}</p>
<p style="font: 14pt Arial;">Thank you for signing up at playhvz.org!</p>
<p style="font: 14pt Arial;">Please confirm your identity by verifying your email address</p>

<a
        href="{2}Account/Verify?requestId={1}"
        style="
font: 14pt Arial;
text-decoration: none;
background-color: rgb(83, 124, 216);
color: white;
padding: 10px 14px 10px 14px;
border-radius: .25rem;
"
        target="_blank">Verify email</a>
<p style="margin-bottom:5px; margin-top: 32px; font: 12pt Arial;">Or copy and paste this URL into your browser:</p>
<p style="margin-top: 0px; font: 12pt Arial;">{2}Account/Verify?requestId={1}</p>
